<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add database luxhome</title>
</head>
<body>
    <form method="POST">
        <input placeholder="name" type="text" name = "name" />
        <input placeholder="summary" type="text" name = "summary" />
        <input placeholder="introduction" type="text" name = "introduction" />
        <input placeholder="unique_features" type="text" name = "unique_features" />
        <input placeholder="special_note" type="text" name = "special_note" />
        <input placeholder="rating" type="text" name = "rating" />
        <input placeholder="featured_photo" type="text" name = "featured_photo" />
        <input placeholder="Mon_to_thurs" type="text" name = "Mon_to_thurs"/>
        <input placeholder="Fri_to_sun" type="text" name = "Fri_to_sun" />
        <input placeholder="Phi Tang Them" type="text" name = "Phi_tang_them" />
        <input placeholder="So_dem_toi_thieu" type="text" name = "So_dem_toi_thieu" />
        <input placeholder="So_dem_toi_da" type="text" name = "So_dem_toi_da" />
        <input placeholder="checkin_time" type="text" name = "checkin_time" />
        <input placeholder="checkout_time" type="text" name = "checkout_time" />
        <input placeholder="search_data" type="text" name = "search_data">
        <input placeholder="address_line" type="text" name = "address_line" />
        <input placeholder="city" type="text" name = "city" />
        <input placeholder="state" type="text" name = "state" />
        <input placeholder="country" type="text" name = "country" />
        <input placeholder="full_address" type="text" name = "full_address"/>
        <input placeholder="photos_1" type="text" name = "photos_1"/>

        <input placeholder="photos_2" type="text" name = "photos_2"/>

        <input placeholder="photos_3" type="text" name = "photos_3"/>

        <input placeholder="photos_4" type="text" name = "photos_4"/>

        <input placeholder="photos_5" type="text" name = "photos_5"/>

        <input placeholder="photos_6" type="text" name = "photos_6"/>

        <input placeholder="photos_7" type="text" name = "photos_7"/>

        <input placeholder="photos_8" type="text" name = "photos_8"/>

      
        <button>Add</button>
    </form>
</body>
</html>