<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Lux Home Website</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='stylesearch.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title"><strong style="font-size: 16px;"> Lux Home </strong></span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link is-active" href="/search">Search</a>
                    <a class="mdl-navigation__link" href="/about">About</a>
                    <a class="mdl-navigation__link" href="/feedback">Feedback</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link is-active" href="/">Home</a>
                <a class="mdl-navigation__link" href="/search">Search</a>
                <a class="mdl-navigation__link" href="/about">About</a>
                <a class="mdl-navigation__link" href="/feedback">Feedback</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="s01">
                <form method = "POST">
                    <!-- <fieldset>
                    <legend>Home Stay</legend>
                    </fieldset> -->
                    <div class="inner-form">
                    <div class="input-field first-wrap">
                        <input id="search" type="text" placeholder="What are you looking for?" name="search" />
                    </div>
                    <!-- <div class="input-field second-wrap">
                        <input id="location" type="text" placeholder="location" />
                    </div> -->
                    <div class="input-field third-wrap">
                        <button class="btn-search" type="submit">Search</button>
                    </div>
                    </div>
                </form>
            </div>

            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
                        <img class="article-image" src="../static/images/example-blog01.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <h2 class="mdl-card__title-text">Home Stay</h2>
                        <div class="mdl-card__supporting-text padding-top">
                            <span>Admin</span>
                            <div id="tt1" class=" icon material-icons portfolio-share-btn">share</div>
                            <div class="mdl-tooltip" for="tt1">
                                Viet Hoang Max  
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text no-left-padding">
                            <p>Đừng cứ thích thì xách ba-lô lên rồi đi, hãy cẩn thận tính toán, sắp xếp mọi thứ nhưng một khi đã đi thì đừng giao phó sự trải nghiệm của mình cho người khác. 
                                Hãy đi theo cách của mình và những chặng đường sẽ tôi luyện cho bạn, hãy chấp nhận rằng bạn sẽ mạnh mẽ hơn và tất nhiên cũng cô đơn hơn!</p>
                            <span>Category: <a href="#">Latest</a></span>
                        </div>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">FeedBack</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src="../static/images/feedback.jpg" border="0" alt="" style="height: 325px">
                    </div>

                    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title">
                            <h3 class="mdl-card__title-text"><strong> ❤️ Name ⭕️ </strong></h3>
                        </div>
                        <p class="mdl-cell mdl-cell--12-col mdl-card__supporting-text" style="font-size: 17px">
                            Xin chào, chúng tôi là 5 anh em siêu nhân 😀. aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa a  aa  a a a a a aaaaaaaaaaaaaaaaaaa
                        </p>
                    </div>
                </div>
            </div>

            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo"><a href="/login">Admin</a></div>
                </div>
                <div class="mdl-mini-footer__center-section">
                    <div><strong>Follow</strong></div>
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="#"><img class="image-icon" src="../static/images/facebook.png" alt="" border="0"></a></li>
                            <li><a href="#"><img class="image-icon" src="../static/images/google-plus.png" alt="" border="0"></a></li>
                            <li><a href="#"><img class="image-icon" src="../static/images/linkedin.png" alt="" border="0"></a></li>
                        </ul>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
